// 去掉h5的scroll-view的滑动条



.uni-searchbar__box
{
	// align-items: flex-start !important;
	justify-content: flex-start !important;
}

	/*每个页面公共css */
	/* 解决小程序和app滚动条的问题 */
	/* #ifdef MP-WEIXIN || APP-PLUS */
		::-webkit-scrollbar {
		    display: none;
		    width: 0 !important;
		    height: 0 !important;
		    -webkit-appearance: none;
		    background: transparent;
		    color: transparent;
		  }
	/* #endif */
	
	/* 解决H5 的问题 */
	/* #ifdef H5 */
	    uni-scroll-view .uni-scroll-view::-webkit-scrollbar {
	    	/* 隐藏滚动条，但依旧具备可以滚动的功能 */
			display: none;
		    width: 0 !important;
		    height: 0 !important;
		    -webkit-appearance: none;
		    background: transparent;
		    color: transparent;
	    }

		//解决h5底部会有滚动条
		// uni-page-wrapper
		// {
		//   // overflow-x: hidden;	
		// //    height: auto !important;
		//   // display: inline-block;
		// }
	/* #endif */
